<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DDNet Stats Card</title>
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>

<div class="container" id="container">
    <div style="border: #ff5ef6 2px solid;border-radius: 12px;width: auto;display: block;padding: 10px;margin: 10px;" id="preview">
        <div class="card-preview">

        </div>
    </div>
    <div style="border: #ff5ef6 2px solid;border-radius: 12px;width: auto;display: block;padding: 10px;margin: 10px;" id="inputform">
        <div class="username inputbox">
            <label>
                <input type="text" name="nickname" placeholder="用户名"/>
                <span class="spanleft"></span>
                <span class="spanright"></span>
            </label>
        </div>
        <div class="team inputbox">
            <label>
                <input type="text" name="team" placeholder="战队"/>
                <span class="spanleft"></span>
                <span class="spanright"></span>
            </label>
        </div>
        <div class="skin inputbox">
            <label for="searchInput">
                <input type="text" id="searchInput" placeholder="搜索皮肤名称...">
                <span class="spanleft"></span>
                <span class="spanright"></span>
            </label>
        </div>
    </div>
</div>
<script src="./static/tee.js"></script>
<script src="./static/script.js"></script>
</body>
</html>
